<div class="container">
  <h1>Yiddish Sayings Game</h1>

  <script data-question type="text/json"><%= @question.to_json %></script>
  <script data-answers  type="text/json"><%= @answers.to_json  %></script>

  <h3><span id='question'><%= @question %></span></h3>
  <form action="/evaluate_question" method="post" id="game-form">

    <% @answers.each do |answer|  %>
      <input type="radio" name="user_choice" value="<%=answer[0]%>"><%= answer[1]%><br>
    <% end %>

    <button type="submit" class="regular-button">Submit</button>

    <a href="/"><button type="button" id="next" class="regular-button">Next</button></a>
  </form>

</div>



